body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.main-body {
  background-color: rgb(249, 246, 244);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  height: 750px;
  /* margin: 25px; */
}

.seasonal {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-rows: 400px 233px 100px;
  position: absolute;
}

.produce {
  grid-row: 2;
  margin: 20px;
  
}

.seasonal-middle {
  display: flex;
}

.seasonal-bottom {
  grid-row: 3;
}


.clip img {
  clip-path: polygon(0 0, 0 100%, 100% 0, 0 0);
  z-index: 999;
  width: 85%;
  top: 0;
  min-width: 590px;
}

.overlay {
  position: absolute;
  top: 60px;
  width: 23%;
  left: 60px;
  min-width: 180px;
}

.diag-lines-yellow {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: rgb(231, 236, 0);
  transform: rotate(155deg) skewX(-25deg);
  top: 155px;
  left: -100px;
  min-width: 1050px;
  border-bottom: rgb(196, 93, 0);
}



.seasonal-text {
  position:relative;
  font-size: 20px;
  right: 155px;
  top: 60px;
  width: 170px;
  justify-content: flex-end;
  text-align: right;
  transform: scale(1.13, 1);
}

.produce-icon {
  height: 90px;
  width: 90px;
  background-color: rgb(182, 66, 4);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#calendar {
  grid-column: 3;
  justify-content: space-evenly;
  width: 95%;
}

button, select {
  height: 60px;
  border-radius: 7px;
  background-color: rgb(231, 236, 0);
  box-shadow: 0 2px 5px 0 rgba(115, 113, 113, 0.097), 0 6px 5px 0 rgba(83, 80, 80, 0.107);
  border: none;
  font-size: 14px;
  font-weight: 550;
  border-bottom: 1px solid rgba(0, 0, 0, 0.195);
}

button:hover {
  transform: scale(1.04);
  transition: all 0.5s ease;
  background-color: rgba(153, 156, 112, 0.15);
}

select {
  width: 30%;
  position: absolute;
  right: 175px;
  top: 330px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

button.cal-button {
  width: 45%;
}

#info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

#schedule {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  background-color: white;
  margin: 25px;
  border-radius: 7px;
  height: 605px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#daily {
  margin: 20px;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
}

h2.schedule {
  font-weight: 550;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}

hr {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(196, 93, 0);
  height: 1.5px;
  border: none;
}

h1, h2, h3, h4 {
  font-family: 'Cabin', sans-serif;
  transform: scale(1.05, 1);
}

p.location {
  font-size: 18px;
  transform: scale(1.13, 1);
  font-weight: 600;
}

p {
  margin: 5px;
}

h3.day-name {
  color: gray;
  text-transform: uppercase;
  transform: scale(1.15, 1);
  letter-spacing: 4px;
  margin: 0;
  font-size: 13px;
  font-weight: 350;
}

br {
  display: block;
  content: '';
  margin-top: 20px;
  margin-bottom: 10px;
}

#daily-item {
  box-shadow: 0 0 4px 0 rgba(249, 246, 244, 0.698), 0 0px 5px 0 rgba(249, 246, 244, 0.698);
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: rgba(249, 246, 244, 0.52);
  border-bottom: 1px solid rgba(0, 0, 0, 0.195);
}

/* .diag-lines-red {
  position: fixed;
  width: 100%;
  height: 10px;
  background-color: rgb(196, 93, 0);
  transform: rotate(155deg) skewX(-25deg);
  top: 125px;
  left: -100px;
  min-width: 1050px;
} */

/* .diag-lines-blue {
  position: fixed;
  width: 100%;
  height: 12px;
  background-color: rgb(0, 139, 193);
  transform: rotate(335deg) skewX(-25deg);
  top: 145px;
  left: -100px;
  min-width: 1050px;
} */

